.hack {
    width: 98%;
    margin: 0 auto;
    font-family: "Tahoma", "micorsoft yahei";
    /**	
	 * [wrap 文本换行规则]
	 * @type {[type]}
	 */
    word-wrap: break-word;
    /*break-word,normal*/
    word-break: break-all;
    h1 {
        color: #333;
        color: red\0;
        *color: orange;
    }
    [name="form1"] {
        label {
            vertical-align: middle;
        }
        input {
            vertical-align: middle;
        }
        select {
            background-color: #eee;
        }
    }
}

/**
 * 最小高度
 */

.height {
    background-color: red;
    min-height: 100px;
    height: auto !important;
    height: 100px;
}

.element {
    background-color: orange;
    /* all IE/FF/CH/OP*/
    *background-color: blue;
    /* IE6+7, doesn't work in IE8/9 as IE7 */
    _background-color: red;
    /* IE6 */
    background-color: green\0;
    /* IE8+9+10  */
    background-color: green\9;
    /* IE6+7+8+9+10  */
    background-color: pink\9\0;
    /* IE9+10 */
}

:root .element {
    background-color: pink\0;
    /* IE9+10 */
}

