<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8" />
	<title>$window对象表达式运用</title>
</head>
<body>
	<div ng-controller="c2_2">
		<input type="text" ng-model="text"/>
		<button ng-click="show()">显示</button>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script type="text/javascript">
		var app = angular.module('app', []);
		app.controller('c2_2', function($window, $scope){
			$scope.text = "您输入";
			$scope.show = function(){
				$window.alert("您输入的内容:" + $scope.text);
			}
		})
	</script>
</body>
</html>