* {
  margin: 0;
  padding: 0;
  outline: none;
}
.box {
  color: #363030;
  /*调用函数*/
  border-color: #808080;
  top: 40%;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
