* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 16px;
  background-color: #2d3143;
  color: #f8f8f2;
  font-size: 24px;
}
a:focus,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}
img {
  border: 0;
}
ul {
  list-style: none;
}
table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
input,
select {
  height: 39px;
  font-size: 20px;
  padding: 4px 8px;
  box-sizing: border-box;
  border: 0;
}
button {
  line-height: 34px;
  padding: 4px 8px;
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar:horizontal {
  height: 0;
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  -webkit-border-radius: 100px;
}
